.messageContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.sent {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
}

.received {
  align-self: flex-start;
  background-color: #f1f0f0;
}
