.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100%;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}

.friendList {
  list-style-type: none;
  padding: 0;
}

.friendList li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.friendList li.selected {
  background-color: #e0e0e0;
  border-radius: 8px;
}

.friendList li:hover {
  background-color: #e0e0e06d;
  border-radius: 8px;
}

.createFriendButton {
  padding: 10px;
  text-align: center;
  background-color: #127ff4;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.createFriendButton:hover {
  background-color: #2f93ff;
}
