.container {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212121;
  width: 100%;
}

.chatInput {
  padding: 5px 20px;
  background-color: #2f2f2f;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.chatInput input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.chatInput button {
  cursor: pointer;
}

.chatInput button:hover {
  color: #ffffff80;
}
